# Documentation build output
/docs/_build

.DS_Store
*.idea
scripts/security/*.crt
scripts/security/*.csr
scripts/security/*_creds
scripts/security/*.jks
scripts/security/*.srl
scripts/security/*.key
scripts/security/*.req
scripts/security/*.pem
scripts/security/*.der
scripts/security/*.p12

ui/expanded
