# This is the Confluent Platform half of the cluster link

# Confluent Platform is the source cluster
link.mode=SOURCE

# The link is initiated at the source so you don't have to open your firewall
connection.mode=OUTBOUND

bootstrap.servers=<CC-BOOTSTRAP-SERVER>
ssl.endpoint.identification.algorithm=https
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='<CC-link-api-key>' password='<CC-link-api-secret>';

# TODO adapt to cp demo
local.listener.name=INTERNAL
local.security.protocol=SASL_SSL
local.sasl.mechanism=OAUTHBEARER
local.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="appSA" password="appSA";
local.ssl.truststore.location=